body {
    /* font-family: 'Ubuntu', sans-serif; */
    background-color: #2b2b31;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

.body:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: rgba(43, 43, 49, 0.75);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    transition: 0.4s ease;
}

.body--active:before {
    z-index: 99;
    opacity: 1;
    pointer-events: auto;
}

/* // */

.pro-item-area__header {
    display: flex;
    justify-content: space-between;
}

.pro-item-area__header a.section__btn {
    margin: 0;
}

/* @bootstrap package customized */

body.modal-open {
    padding-right: 0 !important;
}

/* .modal-dialog {
    max-width: 610px;
} */

.modal-content {
    background-color: inherit;
}

.modal-body {
    padding: 0;
}

.modal-dialog {
    max-width: 260px;
    margin: 1.7rem auto !important;
}

.modal.fade .modal-dialog {
    /* transition: transform .3s ease-out; */
    transform: translate(0, 0px);
}

.card {
    background-color: inherit;
}

.nav-tabs {
    border-bottom: 0;
}

.nav-link {
    border-color: inherit;
    border: 0;
    color: rgba(255, 255, 255, 0.5);
    border-color: transparent;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff;
    background-color: inherit;
    border-color: transparent;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    color: #fff;
    border-color: transparent;
}

.dropdown-toggle::after {
    content: unset;
}

@media (min-width: 360px) {
    .modal-dialog {
        max-width: 300px;
    }
}

@media (min-width: 390px) {
    .modal-dialog {
        max-width: 320px;
    }
}

@media (min-width: 640px) {
    .modal-dialog {
        max-width: 400px;
    }
}

@media (min-width: 768px) {
    .modal-dialog {
        max-width: 600px;
    }
}

@media (min-width: 960px) {
    .modal-dialog {
        margin: 4rem auto !important;
    }
}

@media (min-width: 1200px) {
    .modal-dialog {
        max-width: 750px;
    }
}